{
  "openapi": "3.1.0",
  "info": {
    "title": "VRDex Public API",
    "version": "0.1.0",
    "description": "Public API contract for VRDex profile, event, asset, developer, OAuth, and MCP integrations."
  },
  "servers": [
    {
      "url": "https://vrdex.app",
      "description": "Production"
    },
    {
      "url": "http://localhost:3000",
      "description": "Local web app"
    }
  ],
  "tags": [
    {
      "name": "API",
      "description": "API contract and metadata surfaces."
    },
    {
      "name": "Profiles",
      "description": "Public profile read surfaces."
    },
    {
      "name": "Search",
      "description": "Public discovery and search surfaces."
    },
    {
      "name": "Events",
      "description": "Public event read surfaces."
    },
    {
      "name": "Worlds",
      "description": "Public world read surfaces."
    },
    {
      "name": "Claims",
      "description": "Public claim-status read surfaces."
    }
  ],
  "paths": {
    "/api/v0/openapi.json": {
      "get": {
        "operationId": "getOpenApiDocument",
        "tags": [
          "API"
        ],
        "summary": "Get the OpenAPI document",
        "responses": {
          "200": {
            "description": "The current OpenAPI document."
          }
        }
      }
    },
    "/api/v0/search": {
      "get": {
        "operationId": "searchPublicCatalog",
        "tags": [
          "Search"
        ],
        "summary": "Search public profiles, events, and worlds",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "description": "Maximum result count.",
              "type": "integer",
              "minimum": 1,
              "maximum": 50
            },
            "description": "Maximum result count."
          },
          {
            "in": "query",
            "name": "q",
            "schema": {
              "description": "Search query text.",
              "type": "string"
            },
            "description": "Search query text."
          },
          {
            "in": "query",
            "name": "type",
            "schema": {
              "description": "Optional search result type filter.",
              "type": "string",
              "enum": [
                "all",
                "person",
                "community",
                "profile",
                "world",
                "event"
              ]
            },
            "description": "Optional search result type filter."
          }
        ],
        "responses": {
          "200": {
            "description": "Public search results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request was malformed or used an unsupported bearer-token location.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "404": {
            "description": "The requested public resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "429": {
            "description": "The request exceeded a rate limit.",
            "headers": {
              "Retry-After": {
                "description": "Delay in seconds before retrying.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/profiles/{slug}": {
      "get": {
        "operationId": "getPublicProfileBySlug",
        "tags": [
          "Profiles"
        ],
        "summary": "Get a public profile",
        "parameters": [
          {
            "in": "path",
            "name": "slug",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 160,
              "description": "Public slug."
            },
            "required": true,
            "description": "Public slug."
          }
        ],
        "responses": {
          "200": {
            "description": "The public profile.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicProfile"
                }
              }
            }
          },
          "400": {
            "description": "The request was malformed or used an unsupported bearer-token location.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "404": {
            "description": "The requested public resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "429": {
            "description": "The request exceeded a rate limit.",
            "headers": {
              "Retry-After": {
                "description": "Delay in seconds before retrying.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/profiles/{slug}/assets": {
      "get": {
        "operationId": "getPublicProfileAssets",
        "tags": [
          "Profiles"
        ],
        "summary": "Get public profile assets",
        "parameters": [
          {
            "in": "path",
            "name": "slug",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 160,
              "description": "Public slug."
            },
            "required": true,
            "description": "Public slug."
          }
        ],
        "responses": {
          "200": {
            "description": "Public profile assets.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicProfileAssetsResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request was malformed or used an unsupported bearer-token location.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "404": {
            "description": "The requested public resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "429": {
            "description": "The request exceeded a rate limit.",
            "headers": {
              "Retry-After": {
                "description": "Delay in seconds before retrying.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/profiles/{slug}/logos": {
      "get": {
        "operationId": "getPublicProfileLogos",
        "tags": [
          "Profiles"
        ],
        "summary": "Get public profile logos",
        "parameters": [
          {
            "in": "path",
            "name": "slug",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 160,
              "description": "Public slug."
            },
            "required": true,
            "description": "Public slug."
          }
        ],
        "responses": {
          "200": {
            "description": "Public profile logos.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicProfileLogosResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request was malformed or used an unsupported bearer-token location.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "404": {
            "description": "The requested public resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "429": {
            "description": "The request exceeded a rate limit.",
            "headers": {
              "Retry-After": {
                "description": "Delay in seconds before retrying.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/people/{slug}": {
      "get": {
        "operationId": "getPublicPersonProfileBySlug",
        "tags": [
          "Profiles"
        ],
        "summary": "Get a public person profile",
        "parameters": [
          {
            "in": "path",
            "name": "slug",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 160,
              "description": "Public slug."
            },
            "required": true,
            "description": "Public slug."
          }
        ],
        "responses": {
          "200": {
            "description": "The public person profile.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicProfile"
                }
              }
            }
          },
          "400": {
            "description": "The request was malformed or used an unsupported bearer-token location.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "404": {
            "description": "The requested public resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "429": {
            "description": "The request exceeded a rate limit.",
            "headers": {
              "Retry-After": {
                "description": "Delay in seconds before retrying.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/people/{slug}/events": {
      "get": {
        "operationId": "listPublicPersonEvents",
        "tags": [
          "Profiles",
          "Events"
        ],
        "summary": "List public upcoming events for a person profile",
        "parameters": [
          {
            "in": "path",
            "name": "slug",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 160,
              "description": "Public slug."
            },
            "required": true,
            "description": "Public slug."
          }
        ],
        "responses": {
          "200": {
            "description": "Public upcoming events for the person profile.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicEventsResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request was malformed or used an unsupported bearer-token location.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "404": {
            "description": "The requested public resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "429": {
            "description": "The request exceeded a rate limit.",
            "headers": {
              "Retry-After": {
                "description": "Delay in seconds before retrying.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/communities/{slug}": {
      "get": {
        "operationId": "getPublicCommunityProfileBySlug",
        "tags": [
          "Profiles"
        ],
        "summary": "Get a public community profile",
        "parameters": [
          {
            "in": "path",
            "name": "slug",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 160,
              "description": "Public slug."
            },
            "required": true,
            "description": "Public slug."
          }
        ],
        "responses": {
          "200": {
            "description": "The public community profile.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicProfile"
                }
              }
            }
          },
          "400": {
            "description": "The request was malformed or used an unsupported bearer-token location.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "404": {
            "description": "The requested public resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "429": {
            "description": "The request exceeded a rate limit.",
            "headers": {
              "Retry-After": {
                "description": "Delay in seconds before retrying.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/communities/{slug}/events": {
      "get": {
        "operationId": "listPublicCommunityEvents",
        "tags": [
          "Profiles",
          "Events"
        ],
        "summary": "List public upcoming events hosted by a community profile",
        "parameters": [
          {
            "in": "path",
            "name": "slug",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 160,
              "description": "Public slug."
            },
            "required": true,
            "description": "Public slug."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "description": "Maximum result count.",
              "type": "integer",
              "minimum": 1,
              "maximum": 50
            },
            "description": "Maximum result count."
          }
        ],
        "responses": {
          "200": {
            "description": "Public upcoming events for the community profile.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicEventsResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request was malformed or used an unsupported bearer-token location.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "404": {
            "description": "The requested public resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "429": {
            "description": "The request exceeded a rate limit.",
            "headers": {
              "Retry-After": {
                "description": "Delay in seconds before retrying.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/events/{slug}": {
      "get": {
        "operationId": "getPublicEventBySlug",
        "tags": [
          "Events"
        ],
        "summary": "Get a public event",
        "parameters": [
          {
            "in": "path",
            "name": "slug",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 160,
              "description": "Public slug."
            },
            "required": true,
            "description": "Public slug."
          }
        ],
        "responses": {
          "200": {
            "description": "The public event.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicEvent"
                }
              }
            }
          },
          "400": {
            "description": "The request was malformed or used an unsupported bearer-token location.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "404": {
            "description": "The requested public resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "429": {
            "description": "The request exceeded a rate limit.",
            "headers": {
              "Retry-After": {
                "description": "Delay in seconds before retrying.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/events/upcoming": {
      "get": {
        "operationId": "listPublicUpcomingEvents",
        "tags": [
          "Events"
        ],
        "summary": "List upcoming public events",
        "responses": {
          "200": {
            "description": "Upcoming public events.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicEventsResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request was malformed or used an unsupported bearer-token location.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "404": {
            "description": "The requested public resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "429": {
            "description": "The request exceeded a rate limit.",
            "headers": {
              "Retry-After": {
                "description": "Delay in seconds before retrying.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/worlds/{slug}": {
      "get": {
        "operationId": "getPublicWorldBySlug",
        "tags": [
          "Worlds"
        ],
        "summary": "Get a public world",
        "parameters": [
          {
            "in": "path",
            "name": "slug",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 160,
              "description": "Public slug."
            },
            "required": true,
            "description": "Public slug."
          }
        ],
        "responses": {
          "200": {
            "description": "The public world.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicWorld"
                }
              }
            }
          },
          "400": {
            "description": "The request was malformed or used an unsupported bearer-token location.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "404": {
            "description": "The requested public resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "429": {
            "description": "The request exceeded a rate limit.",
            "headers": {
              "Retry-After": {
                "description": "Delay in seconds before retrying.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/worlds/active": {
      "get": {
        "operationId": "listPublicActiveWorlds",
        "tags": [
          "Worlds"
        ],
        "summary": "List public worlds hosting upcoming or live events",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "description": "Maximum result count.",
              "type": "integer",
              "minimum": 1,
              "maximum": 50
            },
            "description": "Maximum result count."
          }
        ],
        "responses": {
          "200": {
            "description": "Active public worlds.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicActiveWorldsResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request was malformed or used an unsupported bearer-token location.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "404": {
            "description": "The requested public resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "429": {
            "description": "The request exceeded a rate limit.",
            "headers": {
              "Retry-After": {
                "description": "Delay in seconds before retrying.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/claims/{slug}/status": {
      "get": {
        "operationId": "getPublicClaimStatus",
        "tags": [
          "Claims"
        ],
        "summary": "Get public claim and trust status for a profile",
        "parameters": [
          {
            "in": "path",
            "name": "slug",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 160,
              "description": "Public slug."
            },
            "required": true,
            "description": "Public slug."
          }
        ],
        "responses": {
          "200": {
            "description": "Public claim and trust status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicClaimStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request was malformed or used an unsupported bearer-token location.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "404": {
            "description": "The requested public resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "429": {
            "description": "The request exceeded a rate limit.",
            "headers": {
              "Retry-After": {
                "description": "Delay in seconds before retrying.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PublicSearchResponse": {
        "type": "object",
        "properties": {
          "query": {
            "type": "string"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PublicSearchResult"
            }
          },
          "type": {
            "type": "string",
            "enum": [
              "all",
              "person",
              "community",
              "profile",
              "world",
              "event"
            ]
          }
        },
        "required": [
          "query",
          "results"
        ],
        "additionalProperties": {},
        "description": "Public search response."
      },
      "PublicSearchResult": {
        "type": "object",
        "properties": {
          "entityType": {
            "type": "string",
            "enum": [
              "profile",
              "world",
              "event"
            ],
            "description": "Search result entity class."
          },
          "imageUrl": {
            "type": "string",
            "format": "uri"
          },
          "logoImageUrl": {
            "type": "string",
            "format": "uri"
          },
          "profileImageUrl": {
            "type": "string",
            "format": "uri"
          },
          "profileType": {
            "type": "string",
            "enum": [
              "person",
              "community"
            ],
            "description": "The public profile entity class."
          },
          "routePath": {
            "type": "string",
            "minLength": 1
          },
          "score": {
            "type": "number"
          },
          "slug": {
            "type": "string",
            "minLength": 1,
            "maxLength": 160
          },
          "source": {
            "type": "object",
            "properties": {
              "label": {
                "type": "string"
              },
              "sourceType": {
                "type": "string",
                "enum": [
                  "manual",
                  "owner",
                  "community",
                  "partner",
                  "import",
                  "moderator",
                  "ai_suggested"
                ],
                "description": "Public source or provenance class."
              },
              "submittedAt": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991
              },
              "updatedAt": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991
              },
              "url": {
                "type": "string",
                "format": "uri"
              }
            },
            "additionalProperties": {},
            "description": "Public summary for community-submitted, imported, owner-authored, or reviewed data."
          },
          "startsAt": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "subtitle": {
            "type": "string"
          },
          "summary": {
            "type": "string"
          },
          "title": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "entityType",
          "routePath",
          "score",
          "slug",
          "title"
        ],
        "additionalProperties": {},
        "description": "Compact public discovery/search result."
      },
      "ApiProblem": {
        "type": "object",
        "properties": {
          "detail": {
            "type": "string"
          },
          "instance": {
            "type": "string"
          },
          "status": {
            "type": "integer",
            "minimum": 100,
            "maximum": 599
          },
          "title": {
            "type": "string",
            "minLength": 1
          },
          "type": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "status",
          "title",
          "type"
        ],
        "additionalProperties": false,
        "description": "RFC 9457 problem details error response."
      },
      "PublicProfile": {
        "type": "object",
        "properties": {
          "aliases": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "appearance": {},
          "avatarImageUrl": {
            "type": "string",
            "format": "uri"
          },
          "bannerImageUrl": {
            "type": "string",
            "format": "uri"
          },
          "bio": {
            "type": "string"
          },
          "displayName": {
            "type": "string",
            "minLength": 1
          },
          "genres": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "displayLabel": {
                  "type": "string"
                },
                "displayName": {
                  "type": "string",
                  "minLength": 1
                },
                "featured": {
                  "type": "boolean"
                },
                "slug": {
                  "type": "string"
                }
              },
              "required": [
                "displayName"
              ],
              "additionalProperties": {},
              "description": "A public genre or taxonomy label."
            }
          },
          "hostedEvents": {
            "type": "array",
            "items": {}
          },
          "mediaKit": {
            "type": "object",
            "properties": {
              "additionalLogos": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "assetId": {
                      "type": "string"
                    },
                    "byteSize": {
                      "type": "integer",
                      "exclusiveMinimum": 0,
                      "maximum": 9007199254740991
                    },
                    "caption": {
                      "type": "string"
                    },
                    "downloadUrl": {
                      "type": "string",
                      "format": "uri"
                    },
                    "imageUrl": {
                      "type": "string",
                      "format": "uri"
                    },
                    "label": {
                      "type": "string"
                    },
                    "mimeType": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": {},
                  "description": "A public profile media or brand asset."
                }
              },
              "assets": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "assetId": {
                      "type": "string"
                    },
                    "byteSize": {
                      "type": "integer",
                      "exclusiveMinimum": 0,
                      "maximum": 9007199254740991
                    },
                    "caption": {
                      "type": "string"
                    },
                    "downloadUrl": {
                      "type": "string",
                      "format": "uri"
                    },
                    "imageUrl": {
                      "type": "string",
                      "format": "uri"
                    },
                    "label": {
                      "type": "string"
                    },
                    "mimeType": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": {},
                  "description": "A public profile media or brand asset."
                }
              },
              "avatarAppearance": {
                "type": "object",
                "properties": {
                  "borderColor": {
                    "type": "string"
                  },
                  "borderEnabled": {
                    "type": "boolean"
                  },
                  "borderSoftnessPx": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 9007199254740991
                  },
                  "borderWidthPx": {
                    "type": "integer",
                    "exclusiveMinimum": 0,
                    "maximum": 9007199254740991
                  },
                  "radiusPercent": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 50
                  }
                },
                "required": [
                  "borderColor",
                  "borderEnabled",
                  "borderSoftnessPx",
                  "borderWidthPx",
                  "radiusPercent"
                ],
                "additionalProperties": {},
                "description": "Bounded public avatar presentation hints."
              },
              "banner": {
                "type": "object",
                "properties": {
                  "assetId": {
                    "type": "string"
                  },
                  "byteSize": {
                    "type": "integer",
                    "exclusiveMinimum": 0,
                    "maximum": 9007199254740991
                  },
                  "caption": {
                    "type": "string"
                  },
                  "downloadUrl": {
                    "type": "string",
                    "format": "uri"
                  },
                  "imageUrl": {
                    "type": "string",
                    "format": "uri"
                  },
                  "label": {
                    "type": "string"
                  },
                  "mimeType": {
                    "type": "string"
                  }
                },
                "additionalProperties": {},
                "description": "A public profile media or brand asset."
              },
              "compactDisplay": {
                "type": "string",
                "enum": [
                  "profile_image",
                  "logo"
                ]
              },
              "logoZipUrl": {
                "type": "string",
                "format": "uri"
              },
              "logos": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "assetId": {
                      "type": "string"
                    },
                    "byteSize": {
                      "type": "integer",
                      "exclusiveMinimum": 0,
                      "maximum": 9007199254740991
                    },
                    "caption": {
                      "type": "string"
                    },
                    "downloadUrl": {
                      "type": "string",
                      "format": "uri"
                    },
                    "imageUrl": {
                      "type": "string",
                      "format": "uri"
                    },
                    "label": {
                      "type": "string"
                    },
                    "mimeType": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": {},
                  "description": "A public profile media or brand asset."
                }
              },
              "primaryLogo": {
                "type": "object",
                "properties": {
                  "assetId": {
                    "type": "string"
                  },
                  "byteSize": {
                    "type": "integer",
                    "exclusiveMinimum": 0,
                    "maximum": 9007199254740991
                  },
                  "caption": {
                    "type": "string"
                  },
                  "downloadUrl": {
                    "type": "string",
                    "format": "uri"
                  },
                  "imageUrl": {
                    "type": "string",
                    "format": "uri"
                  },
                  "label": {
                    "type": "string"
                  },
                  "mimeType": {
                    "type": "string"
                  }
                },
                "additionalProperties": {},
                "description": "A public profile media or brand asset."
              },
              "profileImage": {
                "type": "object",
                "properties": {
                  "assetId": {
                    "type": "string"
                  },
                  "byteSize": {
                    "type": "integer",
                    "exclusiveMinimum": 0,
                    "maximum": 9007199254740991
                  },
                  "caption": {
                    "type": "string"
                  },
                  "downloadUrl": {
                    "type": "string",
                    "format": "uri"
                  },
                  "imageUrl": {
                    "type": "string",
                    "format": "uri"
                  },
                  "label": {
                    "type": "string"
                  },
                  "mimeType": {
                    "type": "string"
                  }
                },
                "additionalProperties": {},
                "description": "A public profile media or brand asset."
              }
            },
            "required": [
              "additionalLogos",
              "assets",
              "logos"
            ],
            "additionalProperties": {},
            "description": "Public media kit metadata for a public profile."
          },
          "outboundLinks": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "label": {
                  "type": "string",
                  "minLength": 1
                },
                "source": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "url": {
                  "type": "string",
                  "format": "uri"
                }
              },
              "required": [
                "label",
                "url"
              ],
              "additionalProperties": {},
              "description": "A public outbound link."
            }
          },
          "profileType": {
            "type": "string",
            "enum": [
              "person",
              "community"
            ],
            "description": "The public profile entity class."
          },
          "slug": {
            "type": "string",
            "minLength": 1,
            "maxLength": 160
          },
          "source": {
            "type": "object",
            "properties": {
              "label": {
                "type": "string"
              },
              "sourceType": {
                "type": "string",
                "enum": [
                  "manual",
                  "owner",
                  "community",
                  "partner",
                  "import",
                  "moderator",
                  "ai_suggested"
                ],
                "description": "Public source or provenance class."
              },
              "submittedAt": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991
              },
              "updatedAt": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991
              },
              "url": {
                "type": "string",
                "format": "uri"
              }
            },
            "additionalProperties": {},
            "description": "Public summary for community-submitted, imported, owner-authored, or reviewed data."
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "trustLabel": {
            "type": "string",
            "enum": [
              "community_submitted",
              "unclaimed",
              "claimed_unverified",
              "claimed_verified"
            ],
            "description": "The public trust and claim state shown for the profile."
          },
          "upcomingEvents": {
            "type": "array",
            "items": {}
          },
          "worldCredits": {
            "type": "array",
            "items": {}
          }
        },
        "required": [
          "displayName",
          "profileType",
          "slug",
          "trustLabel"
        ],
        "additionalProperties": {},
        "description": "Public profile response. Unknown fields are preserved while the API is still stabilizing."
      },
      "PublicProfileAssetsResponse": {
        "type": "object",
        "properties": {
          "assets": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "assetId": {
                  "type": "string"
                },
                "byteSize": {
                  "type": "integer",
                  "exclusiveMinimum": 0,
                  "maximum": 9007199254740991
                },
                "caption": {
                  "type": "string"
                },
                "downloadUrl": {
                  "type": "string",
                  "format": "uri"
                },
                "imageUrl": {
                  "type": "string",
                  "format": "uri"
                },
                "label": {
                  "type": "string"
                },
                "mimeType": {
                  "type": "string"
                }
              },
              "additionalProperties": {},
              "description": "A public profile media or brand asset."
            }
          },
          "displayName": {
            "type": "string",
            "minLength": 1
          },
          "mediaKit": {
            "type": "object",
            "properties": {
              "additionalLogos": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "assetId": {
                      "type": "string"
                    },
                    "byteSize": {
                      "type": "integer",
                      "exclusiveMinimum": 0,
                      "maximum": 9007199254740991
                    },
                    "caption": {
                      "type": "string"
                    },
                    "downloadUrl": {
                      "type": "string",
                      "format": "uri"
                    },
                    "imageUrl": {
                      "type": "string",
                      "format": "uri"
                    },
                    "label": {
                      "type": "string"
                    },
                    "mimeType": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": {},
                  "description": "A public profile media or brand asset."
                }
              },
              "assets": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "assetId": {
                      "type": "string"
                    },
                    "byteSize": {
                      "type": "integer",
                      "exclusiveMinimum": 0,
                      "maximum": 9007199254740991
                    },
                    "caption": {
                      "type": "string"
                    },
                    "downloadUrl": {
                      "type": "string",
                      "format": "uri"
                    },
                    "imageUrl": {
                      "type": "string",
                      "format": "uri"
                    },
                    "label": {
                      "type": "string"
                    },
                    "mimeType": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": {},
                  "description": "A public profile media or brand asset."
                }
              },
              "avatarAppearance": {
                "type": "object",
                "properties": {
                  "borderColor": {
                    "type": "string"
                  },
                  "borderEnabled": {
                    "type": "boolean"
                  },
                  "borderSoftnessPx": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 9007199254740991
                  },
                  "borderWidthPx": {
                    "type": "integer",
                    "exclusiveMinimum": 0,
                    "maximum": 9007199254740991
                  },
                  "radiusPercent": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 50
                  }
                },
                "required": [
                  "borderColor",
                  "borderEnabled",
                  "borderSoftnessPx",
                  "borderWidthPx",
                  "radiusPercent"
                ],
                "additionalProperties": {},
                "description": "Bounded public avatar presentation hints."
              },
              "banner": {
                "type": "object",
                "properties": {
                  "assetId": {
                    "type": "string"
                  },
                  "byteSize": {
                    "type": "integer",
                    "exclusiveMinimum": 0,
                    "maximum": 9007199254740991
                  },
                  "caption": {
                    "type": "string"
                  },
                  "downloadUrl": {
                    "type": "string",
                    "format": "uri"
                  },
                  "imageUrl": {
                    "type": "string",
                    "format": "uri"
                  },
                  "label": {
                    "type": "string"
                  },
                  "mimeType": {
                    "type": "string"
                  }
                },
                "additionalProperties": {},
                "description": "A public profile media or brand asset."
              },
              "compactDisplay": {
                "type": "string",
                "enum": [
                  "profile_image",
                  "logo"
                ]
              },
              "logoZipUrl": {
                "type": "string",
                "format": "uri"
              },
              "logos": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "assetId": {
                      "type": "string"
                    },
                    "byteSize": {
                      "type": "integer",
                      "exclusiveMinimum": 0,
                      "maximum": 9007199254740991
                    },
                    "caption": {
                      "type": "string"
                    },
                    "downloadUrl": {
                      "type": "string",
                      "format": "uri"
                    },
                    "imageUrl": {
                      "type": "string",
                      "format": "uri"
                    },
                    "label": {
                      "type": "string"
                    },
                    "mimeType": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": {},
                  "description": "A public profile media or brand asset."
                }
              },
              "primaryLogo": {
                "type": "object",
                "properties": {
                  "assetId": {
                    "type": "string"
                  },
                  "byteSize": {
                    "type": "integer",
                    "exclusiveMinimum": 0,
                    "maximum": 9007199254740991
                  },
                  "caption": {
                    "type": "string"
                  },
                  "downloadUrl": {
                    "type": "string",
                    "format": "uri"
                  },
                  "imageUrl": {
                    "type": "string",
                    "format": "uri"
                  },
                  "label": {
                    "type": "string"
                  },
                  "mimeType": {
                    "type": "string"
                  }
                },
                "additionalProperties": {},
                "description": "A public profile media or brand asset."
              },
              "profileImage": {
                "type": "object",
                "properties": {
                  "assetId": {
                    "type": "string"
                  },
                  "byteSize": {
                    "type": "integer",
                    "exclusiveMinimum": 0,
                    "maximum": 9007199254740991
                  },
                  "caption": {
                    "type": "string"
                  },
                  "downloadUrl": {
                    "type": "string",
                    "format": "uri"
                  },
                  "imageUrl": {
                    "type": "string",
                    "format": "uri"
                  },
                  "label": {
                    "type": "string"
                  },
                  "mimeType": {
                    "type": "string"
                  }
                },
                "additionalProperties": {},
                "description": "A public profile media or brand asset."
              }
            },
            "required": [
              "additionalLogos",
              "assets",
              "logos"
            ],
            "additionalProperties": {},
            "description": "Public media kit metadata for a public profile."
          },
          "profileType": {
            "type": "string",
            "enum": [
              "person",
              "community"
            ],
            "description": "The public profile entity class."
          },
          "slug": {
            "type": "string",
            "minLength": 1,
            "maxLength": 160
          }
        },
        "required": [
          "assets",
          "displayName",
          "profileType",
          "slug"
        ],
        "additionalProperties": {},
        "description": "Public assets for a profile."
      },
      "PublicProfileLogosResponse": {
        "type": "object",
        "properties": {
          "additionalLogos": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "assetId": {
                  "type": "string"
                },
                "byteSize": {
                  "type": "integer",
                  "exclusiveMinimum": 0,
                  "maximum": 9007199254740991
                },
                "caption": {
                  "type": "string"
                },
                "downloadUrl": {
                  "type": "string",
                  "format": "uri"
                },
                "imageUrl": {
                  "type": "string",
                  "format": "uri"
                },
                "label": {
                  "type": "string"
                },
                "mimeType": {
                  "type": "string"
                }
              },
              "additionalProperties": {},
              "description": "A public profile media or brand asset."
            }
          },
          "displayName": {
            "type": "string",
            "minLength": 1
          },
          "logoZipUrl": {
            "type": "string",
            "format": "uri"
          },
          "logos": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "assetId": {
                  "type": "string"
                },
                "byteSize": {
                  "type": "integer",
                  "exclusiveMinimum": 0,
                  "maximum": 9007199254740991
                },
                "caption": {
                  "type": "string"
                },
                "downloadUrl": {
                  "type": "string",
                  "format": "uri"
                },
                "imageUrl": {
                  "type": "string",
                  "format": "uri"
                },
                "label": {
                  "type": "string"
                },
                "mimeType": {
                  "type": "string"
                }
              },
              "additionalProperties": {},
              "description": "A public profile media or brand asset."
            }
          },
          "primaryLogo": {
            "type": "object",
            "properties": {
              "assetId": {
                "type": "string"
              },
              "byteSize": {
                "type": "integer",
                "exclusiveMinimum": 0,
                "maximum": 9007199254740991
              },
              "caption": {
                "type": "string"
              },
              "downloadUrl": {
                "type": "string",
                "format": "uri"
              },
              "imageUrl": {
                "type": "string",
                "format": "uri"
              },
              "label": {
                "type": "string"
              },
              "mimeType": {
                "type": "string"
              }
            },
            "additionalProperties": {},
            "description": "A public profile media or brand asset."
          },
          "profileType": {
            "type": "string",
            "enum": [
              "person",
              "community"
            ],
            "description": "The public profile entity class."
          },
          "slug": {
            "type": "string",
            "minLength": 1,
            "maxLength": 160
          }
        },
        "required": [
          "displayName",
          "logos",
          "profileType",
          "slug"
        ],
        "additionalProperties": {},
        "description": "Public logo assets for a profile."
      },
      "PublicEventsResponse": {
        "type": "object",
        "properties": {
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PublicEventPreview"
            }
          }
        },
        "required": [
          "events"
        ],
        "additionalProperties": {},
        "description": "List of public event cards."
      },
      "PublicEventPreview": {
        "type": "object",
        "properties": {
          "bannerImageUrl": {
            "type": "string",
            "format": "uri"
          },
          "communityImageUrl": {
            "type": "string",
            "format": "uri"
          },
          "communityName": {
            "type": "string"
          },
          "communitySlug": {
            "type": "string",
            "minLength": 1,
            "maxLength": 160
          },
          "doorsOpenAt": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "endAt": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "participantCount": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "posterImageUrl": {
            "type": "string",
            "format": "uri"
          },
          "slug": {
            "type": "string",
            "minLength": 1,
            "maxLength": 160
          },
          "slotCount": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "source": {
            "type": "object",
            "properties": {
              "label": {
                "type": "string",
                "minLength": 1
              },
              "sourceType": {
                "type": "string",
                "enum": [
                  "manual",
                  "community",
                  "partner",
                  "import",
                  "ai_suggested"
                ],
                "description": "Public event source class."
              },
              "url": {
                "type": "string",
                "format": "uri"
              }
            },
            "required": [
              "label",
              "sourceType"
            ],
            "additionalProperties": {},
            "description": "Public event source summary."
          },
          "startAt": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "summary": {
            "type": "string"
          },
          "thumbnailImageUrl": {
            "type": "string",
            "format": "uri"
          },
          "timezone": {
            "type": "string"
          },
          "title": {
            "type": "string",
            "minLength": 1
          },
          "worlds": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "displayName": {
                  "type": "string",
                  "minLength": 1
                },
                "slug": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 160
                }
              },
              "required": [
                "displayName",
                "slug"
              ],
              "additionalProperties": {},
              "description": "Public event world summary."
            }
          }
        },
        "required": [
          "source",
          "startAt",
          "title"
        ],
        "additionalProperties": {},
        "description": "Compact public event card."
      },
      "PublicEvent": {
        "type": "object",
        "properties": {
          "bannerImageUrl": {
            "type": "string",
            "format": "uri"
          },
          "communityImageUrl": {
            "type": "string",
            "format": "uri"
          },
          "communityName": {
            "type": "string"
          },
          "communitySlug": {
            "type": "string",
            "minLength": 1,
            "maxLength": 160
          },
          "doorsOpenAt": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "endAt": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "participantCount": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "posterImageUrl": {
            "type": "string",
            "format": "uri"
          },
          "slug": {
            "type": "string",
            "minLength": 1,
            "maxLength": 160
          },
          "slotCount": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "source": {
            "type": "object",
            "properties": {
              "label": {
                "type": "string",
                "minLength": 1
              },
              "sourceType": {
                "type": "string",
                "enum": [
                  "manual",
                  "community",
                  "partner",
                  "import",
                  "ai_suggested"
                ],
                "description": "Public event source class."
              },
              "url": {
                "type": "string",
                "format": "uri"
              }
            },
            "required": [
              "label",
              "sourceType"
            ],
            "additionalProperties": {},
            "description": "Public event source summary."
          },
          "startAt": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "summary": {
            "type": "string"
          },
          "thumbnailImageUrl": {
            "type": "string",
            "format": "uri"
          },
          "timezone": {
            "type": "string"
          },
          "title": {
            "type": "string",
            "minLength": 1
          },
          "worlds": {
            "type": "array",
            "items": {}
          },
          "authoredMediaLinks": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "label": {
                  "type": "string",
                  "minLength": 1
                },
                "presentation": {
                  "type": "string",
                  "enum": [
                    "open",
                    "copy"
                  ]
                },
                "type": {
                  "type": "string",
                  "enum": [
                    "event_page",
                    "watch",
                    "stream",
                    "vrcdn",
                    "discord",
                    "ticket",
                    "other"
                  ]
                },
                "url": {
                  "type": "string",
                  "format": "uri"
                }
              },
              "required": [
                "label",
                "presentation",
                "type",
                "url"
              ],
              "additionalProperties": {},
              "description": "Public event media or outbound link."
            }
          },
          "id": {
            "type": "string"
          },
          "mediaLinks": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "label": {
                  "type": "string",
                  "minLength": 1
                },
                "presentation": {
                  "type": "string",
                  "enum": [
                    "open",
                    "copy"
                  ]
                },
                "type": {
                  "type": "string",
                  "enum": [
                    "event_page",
                    "watch",
                    "stream",
                    "vrcdn",
                    "discord",
                    "ticket",
                    "other"
                  ]
                },
                "url": {
                  "type": "string",
                  "format": "uri"
                }
              },
              "required": [
                "label",
                "presentation",
                "type",
                "url"
              ],
              "additionalProperties": {},
              "description": "Public event media or outbound link."
            }
          },
          "notes": {
            "type": "string"
          },
          "participants": {
            "type": "array",
            "items": {}
          },
          "slots": {
            "type": "array",
            "items": {}
          },
          "watchSurfaceEnabled": {
            "type": "boolean"
          }
        },
        "required": [
          "slug",
          "source",
          "startAt",
          "title",
          "id",
          "watchSurfaceEnabled"
        ],
        "additionalProperties": {},
        "description": "Public event detail response."
      },
      "PublicWorld": {
        "type": "object",
        "properties": {
          "canonicalVrchatWorldUrl": {
            "type": "string",
            "format": "uri"
          },
          "creatorAttributions": {
            "type": "array",
            "items": {}
          },
          "description": {
            "type": "string"
          },
          "displayName": {
            "type": "string",
            "minLength": 1
          },
          "eventContext": {
            "type": "object",
            "properties": {
              "recent": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "bannerImageUrl": {
                      "type": "string",
                      "format": "uri"
                    },
                    "communityName": {
                      "type": "string"
                    },
                    "doorsOpenAt": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 9007199254740991
                    },
                    "endAt": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 9007199254740991
                    },
                    "mediaLinks": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "label": {
                            "type": "string",
                            "minLength": 1
                          },
                          "presentation": {
                            "type": "string",
                            "enum": [
                              "open",
                              "copy"
                            ]
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "event_page",
                              "watch",
                              "stream",
                              "vrcdn",
                              "discord",
                              "ticket",
                              "other"
                            ]
                          },
                          "url": {
                            "type": "string",
                            "format": "uri"
                          }
                        },
                        "required": [
                          "label",
                          "presentation",
                          "type",
                          "url"
                        ],
                        "additionalProperties": {},
                        "description": "Public event media or outbound link."
                      }
                    },
                    "posterImageUrl": {
                      "type": "string",
                      "format": "uri"
                    },
                    "slug": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 160
                    },
                    "source": {
                      "type": "object",
                      "properties": {
                        "label": {
                          "type": "string",
                          "minLength": 1
                        },
                        "sourceType": {
                          "type": "string",
                          "enum": [
                            "manual",
                            "community",
                            "partner",
                            "import",
                            "ai_suggested"
                          ],
                          "description": "Public event source class."
                        },
                        "url": {
                          "type": "string",
                          "format": "uri"
                        }
                      },
                      "required": [
                        "label",
                        "sourceType"
                      ],
                      "additionalProperties": {},
                      "description": "Public event source summary."
                    },
                    "startAt": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 9007199254740991
                    },
                    "summary": {
                      "type": "string"
                    },
                    "thumbnailImageUrl": {
                      "type": "string",
                      "format": "uri"
                    },
                    "timezone": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string",
                      "minLength": 1
                    },
                    "worldAssociation": {
                      "type": "object",
                      "properties": {
                        "confirmationState": {
                          "type": "string",
                          "const": "confirmed"
                        }
                      },
                      "required": [
                        "confirmationState"
                      ],
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "mediaLinks",
                    "source",
                    "startAt",
                    "title",
                    "worldAssociation"
                  ],
                  "additionalProperties": {},
                  "description": "Public event card as shown in world context."
                }
              },
              "upcoming": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "bannerImageUrl": {
                      "type": "string",
                      "format": "uri"
                    },
                    "communityName": {
                      "type": "string"
                    },
                    "doorsOpenAt": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 9007199254740991
                    },
                    "endAt": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 9007199254740991
                    },
                    "mediaLinks": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "label": {
                            "type": "string",
                            "minLength": 1
                          },
                          "presentation": {
                            "type": "string",
                            "enum": [
                              "open",
                              "copy"
                            ]
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "event_page",
                              "watch",
                              "stream",
                              "vrcdn",
                              "discord",
                              "ticket",
                              "other"
                            ]
                          },
                          "url": {
                            "type": "string",
                            "format": "uri"
                          }
                        },
                        "required": [
                          "label",
                          "presentation",
                          "type",
                          "url"
                        ],
                        "additionalProperties": {},
                        "description": "Public event media or outbound link."
                      }
                    },
                    "posterImageUrl": {
                      "type": "string",
                      "format": "uri"
                    },
                    "slug": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 160
                    },
                    "source": {
                      "type": "object",
                      "properties": {
                        "label": {
                          "type": "string",
                          "minLength": 1
                        },
                        "sourceType": {
                          "type": "string",
                          "enum": [
                            "manual",
                            "community",
                            "partner",
                            "import",
                            "ai_suggested"
                          ],
                          "description": "Public event source class."
                        },
                        "url": {
                          "type": "string",
                          "format": "uri"
                        }
                      },
                      "required": [
                        "label",
                        "sourceType"
                      ],
                      "additionalProperties": {},
                      "description": "Public event source summary."
                    },
                    "startAt": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 9007199254740991
                    },
                    "summary": {
                      "type": "string"
                    },
                    "thumbnailImageUrl": {
                      "type": "string",
                      "format": "uri"
                    },
                    "timezone": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string",
                      "minLength": 1
                    },
                    "worldAssociation": {
                      "type": "object",
                      "properties": {
                        "confirmationState": {
                          "type": "string",
                          "const": "confirmed"
                        }
                      },
                      "required": [
                        "confirmationState"
                      ],
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "mediaLinks",
                    "source",
                    "startAt",
                    "title",
                    "worldAssociation"
                  ],
                  "additionalProperties": {},
                  "description": "Public event card as shown in world context."
                }
              }
            },
            "required": [
              "recent",
              "upcoming"
            ],
            "additionalProperties": {}
          },
          "heroImageUrl": {
            "type": "string",
            "format": "uri"
          },
          "media": {
            "type": "array",
            "items": {}
          },
          "outboundLinks": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "label": {
                  "type": "string",
                  "minLength": 1
                },
                "source": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "url": {
                  "type": "string",
                  "format": "uri"
                }
              },
              "required": [
                "label",
                "url"
              ],
              "additionalProperties": {},
              "description": "A public outbound link."
            }
          },
          "platformCompatibility": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "slug": {
            "type": "string",
            "minLength": 1,
            "maxLength": 160
          },
          "source": {
            "type": "object",
            "properties": {
              "label": {
                "type": "string"
              },
              "sourceType": {
                "type": "string",
                "enum": [
                  "manual",
                  "owner",
                  "community",
                  "partner",
                  "import",
                  "moderator",
                  "ai_suggested"
                ],
                "description": "Public source or provenance class."
              },
              "submittedAt": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991
              },
              "updatedAt": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991
              },
              "url": {
                "type": "string",
                "format": "uri"
              }
            },
            "additionalProperties": {},
            "description": "Public summary for community-submitted, imported, owner-authored, or reviewed data."
          },
          "summary": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "visibilityStatus": {
            "type": "string"
          },
          "vrchatWorldId": {
            "type": "string"
          }
        },
        "required": [
          "creatorAttributions",
          "displayName",
          "media",
          "outboundLinks",
          "platformCompatibility",
          "slug",
          "tags",
          "visibilityStatus"
        ],
        "additionalProperties": {},
        "description": "Public world detail response."
      },
      "PublicActiveWorldsResponse": {
        "type": "object",
        "properties": {
          "worlds": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PublicActiveWorld"
            }
          }
        },
        "required": [
          "worlds"
        ],
        "additionalProperties": {},
        "description": "Public active worlds response."
      },
      "PublicActiveWorld": {
        "type": "object",
        "properties": {
          "activityLabel": {
            "type": "string",
            "const": "Hosting upcoming events"
          },
          "displayName": {
            "type": "string",
            "minLength": 1
          },
          "heroImageUrl": {
            "type": "string",
            "format": "uri"
          },
          "nextEvent": {
            "type": "object",
            "properties": {
              "communityName": {
                "type": "string"
              },
              "communitySlug": {
                "type": "string",
                "minLength": 1,
                "maxLength": 160
              },
              "doorsOpenAt": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991
              },
              "endAt": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991
              },
              "slug": {
                "type": "string",
                "minLength": 1,
                "maxLength": 160
              },
              "source": {
                "type": "object",
                "properties": {
                  "label": {
                    "type": "string",
                    "minLength": 1
                  },
                  "sourceType": {
                    "type": "string",
                    "enum": [
                      "manual",
                      "community",
                      "partner",
                      "import",
                      "ai_suggested"
                    ],
                    "description": "Public event source class."
                  },
                  "url": {
                    "type": "string",
                    "format": "uri"
                  }
                },
                "required": [
                  "label",
                  "sourceType"
                ],
                "additionalProperties": {},
                "description": "Public event source summary."
              },
              "startAt": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991
              },
              "timezone": {
                "type": "string"
              },
              "title": {
                "type": "string",
                "minLength": 1
              }
            },
            "required": [
              "source",
              "startAt",
              "title"
            ],
            "additionalProperties": {}
          },
          "slug": {
            "type": "string",
            "minLength": 1,
            "maxLength": 160
          },
          "summary": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "upcomingEventCount": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          }
        },
        "required": [
          "activityLabel",
          "displayName",
          "nextEvent",
          "slug",
          "tags",
          "upcomingEventCount"
        ],
        "additionalProperties": {},
        "description": "Public world currently hosting upcoming or live public events."
      },
      "PublicClaimStatusResponse": {
        "type": "object",
        "properties": {
          "claimState": {
            "type": "string",
            "enum": [
              "unclaimed",
              "claimed_unverified",
              "claimed_verified"
            ],
            "description": "The public claim state without private owner account details."
          },
          "displayName": {
            "type": "string",
            "minLength": 1
          },
          "profileType": {
            "type": "string",
            "enum": [
              "person",
              "community"
            ],
            "description": "The public profile entity class."
          },
          "slug": {
            "type": "string",
            "minLength": 1,
            "maxLength": 160
          },
          "trustLabel": {
            "type": "string",
            "enum": [
              "community_submitted",
              "unclaimed",
              "claimed_unverified",
              "claimed_verified"
            ],
            "description": "The public trust and claim state shown for the profile."
          }
        },
        "required": [
          "claimState",
          "displayName",
          "profileType",
          "slug",
          "trustLabel"
        ],
        "additionalProperties": {},
        "description": "Public claim and trust state for a public profile."
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT or opaque personal API token",
        "description": "Use OAuth access tokens or personal API tokens in the Authorization header."
      },
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "/api/v0/oauth/authorize",
            "tokenUrl": "/api/v0/oauth/token",
            "scopes": {
              "public:read": "public:read",
              "profile:read": "profile:read",
              "profile:write": "profile:write",
              "community:read": "community:read",
              "community:write": "community:write",
              "events:read": "events:read",
              "events:write": "events:write",
              "assets:read": "assets:read",
              "assets:write": "assets:write",
              "developer:read": "developer:read",
              "developer:write": "developer:write",
              "mcp:read": "mcp:read",
              "mcp:write": "mcp:write"
            }
          }
        }
      }
    }
  }
}
