{
  "openapi": "3.1.0",
  "info": {
    "title": "VRDex Public API",
    "version": "0.1.0",
    "description": "Public API contract for VRDex profile, event, asset, developer, OAuth, and MCP integrations."
  },
  "servers": [
    {
      "url": "https://vrdex.app",
      "description": "Production"
    },
    {
      "url": "http://localhost:3000",
      "description": "Local web app"
    }
  ],
  "tags": [
    {
      "name": "API",
      "description": "API contract and metadata surfaces."
    },
    {
      "name": "Profiles",
      "description": "Public profile read surfaces."
    },
    {
      "name": "Assets",
      "description": "Public and owner-managed profile asset surfaces."
    },
    {
      "name": "Search",
      "description": "Public discovery and search surfaces."
    },
    {
      "name": "Events",
      "description": "Public event read surfaces."
    },
    {
      "name": "Worlds",
      "description": "Public world read surfaces."
    },
    {
      "name": "Claims",
      "description": "Public claim-status read surfaces."
    },
    {
      "name": "Usage",
      "description": "API usage and rate-limit surfaces."
    },
    {
      "name": "Me",
      "description": "Authenticated caller introspection surfaces."
    },
    {
      "name": "Developer",
      "description": "Authenticated developer credential-management surfaces."
    }
  ],
  "paths": {
    "/api/v0/openapi.json": {
      "get": {
        "operationId": "getOpenApiDocument",
        "tags": [
          "API"
        ],
        "summary": "Get the OpenAPI document",
        "responses": {
          "200": {
            "description": "The current OpenAPI document."
          }
        }
      }
    },
    "/api/v0/me": {
      "get": {
        "operationId": "getCurrentApiCaller",
        "tags": [
          "Me"
        ],
        "summary": "Get the current API caller",
        "description": "Returns metadata for the validated bearer credential used on this request.",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "public:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Current authenticated API caller.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiMeResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bearer authentication is required or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "403": {
            "description": "The bearer credential does not include the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "429": {
            "description": "The request exceeded a rate limit.",
            "headers": {
              "Retry-After": {
                "description": "Delay in seconds before retrying.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/me/profiles": {
      "get": {
        "operationId": "listCurrentApiUserProfiles",
        "tags": [
          "Me"
        ],
        "summary": "List the current user's profiles",
        "description": "Returns compact profile inventory for a bearer credential with user authority and profile:read scope.",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "profile:read"
            ]
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "description": "Maximum result count.",
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            },
            "description": "Maximum result count."
          }
        ],
        "responses": {
          "200": {
            "description": "Current user's owned profiles.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiMeProfilesResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request was malformed or used an unsupported bearer-token location.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "401": {
            "description": "Bearer authentication is required or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "403": {
            "description": "The bearer credential lacks profile:read scope or user authority.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "429": {
            "description": "The request exceeded a rate limit.",
            "headers": {
              "Retry-After": {
                "description": "Delay in seconds before retrying.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/me/communities": {
      "get": {
        "operationId": "listCurrentApiUserCommunities",
        "tags": [
          "Me"
        ],
        "summary": "List the current user's communities",
        "description": "Returns compact community profile inventory for a bearer credential with user authority and community:read scope.",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "community:read"
            ]
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "description": "Maximum result count.",
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            },
            "description": "Maximum result count."
          }
        ],
        "responses": {
          "200": {
            "description": "Current user's owned community profiles.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiMeCommunitiesResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request was malformed or used an unsupported bearer-token location.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "401": {
            "description": "Bearer authentication is required or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "403": {
            "description": "The bearer credential lacks community:read scope or user authority.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "429": {
            "description": "The request exceeded a rate limit.",
            "headers": {
              "Retry-After": {
                "description": "Delay in seconds before retrying.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/me/events": {
      "get": {
        "operationId": "listCurrentApiUserEvents",
        "tags": [
          "Me",
          "Events"
        ],
        "summary": "List the current user's community-managed events",
        "description": "Returns compact event inventory for communities owned by a bearer credential with user authority and events:read scope.",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "events:read"
            ]
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "description": "Maximum result count.",
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            },
            "description": "Maximum result count."
          }
        ],
        "responses": {
          "200": {
            "description": "Current user's community-managed events.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiMeEventsResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request was malformed or used an unsupported bearer-token location.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "401": {
            "description": "Bearer authentication is required or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "403": {
            "description": "The bearer credential lacks events:read scope or user authority.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "429": {
            "description": "The request exceeded a rate limit.",
            "headers": {
              "Retry-After": {
                "description": "Delay in seconds before retrying.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/developer/tokens": {
      "get": {
        "operationId": "listCurrentDeveloperApiTokens",
        "tags": [
          "Developer"
        ],
        "summary": "List current developer API tokens",
        "description": "Returns user-owned personal API token metadata for a bearer credential with user authority and developer:read scope.",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "developer:read"
            ]
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "includeRevoked",
            "schema": {
              "description": "Include revoked credentials.",
              "type": "boolean"
            },
            "description": "Include revoked credentials."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "description": "Maximum result count.",
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            },
            "description": "Maximum result count."
          }
        ],
        "responses": {
          "200": {
            "description": "Current user's personal API tokens.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeveloperTokensResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request was malformed or used an unsupported bearer-token location.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "401": {
            "description": "Bearer authentication is required or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "403": {
            "description": "The bearer credential lacks developer:read scope or user authority.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "429": {
            "description": "The request exceeded a rate limit.",
            "headers": {
              "Retry-After": {
                "description": "Delay in seconds before retrying.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createCurrentDeveloperApiToken",
        "tags": [
          "Developer"
        ],
        "summary": "Create a current developer API token",
        "description": "Creates a user-owned personal API token for a bearer credential with user authority and developer:write scope. The raw token value is returned once.",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "developer:write"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeveloperTokenCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created personal API token and one-time raw token value.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeveloperTokenCreateResponse"
                }
              }
            }
          },
          "400": {
            "description": "The token creation request was malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "401": {
            "description": "Bearer authentication is required or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "403": {
            "description": "The bearer credential lacks developer:write scope or user authority.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "429": {
            "description": "The request exceeded a rate limit.",
            "headers": {
              "Retry-After": {
                "description": "Delay in seconds before retrying.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/developer/tokens/{tokenId}": {
      "delete": {
        "operationId": "revokeCurrentDeveloperApiToken",
        "tags": [
          "Developer"
        ],
        "summary": "Revoke a current developer API token",
        "description": "Revokes a user-owned personal API token for a bearer credential with user authority and developer:write scope.",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "developer:write"
            ]
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "tokenId",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "API token id returned by the developer token list."
            },
            "required": true,
            "description": "API token id returned by the developer token list."
          }
        ],
        "responses": {
          "200": {
            "description": "Revoked or already-revoked personal API token metadata.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeveloperTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request was malformed or used an unsupported bearer-token location.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "401": {
            "description": "Bearer authentication is required or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "403": {
            "description": "The bearer credential lacks developer:write scope or user authority.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "404": {
            "description": "The token was not found for the current user.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "429": {
            "description": "The request exceeded a rate limit.",
            "headers": {
              "Retry-After": {
                "description": "Delay in seconds before retrying.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/developer/oauth-apps": {
      "get": {
        "operationId": "listCurrentDeveloperOAuthApps",
        "tags": [
          "Developer"
        ],
        "summary": "List current developer OAuth apps",
        "description": "Returns user-owned and community-owned OAuth application metadata for a bearer credential with user authority and developer:read scope.",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "developer:read"
            ]
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "includeRevoked",
            "schema": {
              "description": "Include revoked credentials.",
              "type": "boolean"
            },
            "description": "Include revoked credentials."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "description": "Maximum result count.",
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            },
            "description": "Maximum result count."
          }
        ],
        "responses": {
          "200": {
            "description": "Current user's OAuth applications, including apps for communities they own.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeveloperOAuthAppsResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request was malformed or used an unsupported bearer-token location.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "401": {
            "description": "Bearer authentication is required or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "403": {
            "description": "The bearer credential lacks developer:read scope or user authority.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "429": {
            "description": "The request exceeded a rate limit.",
            "headers": {
              "Retry-After": {
                "description": "Delay in seconds before retrying.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createCurrentDeveloperOAuthApp",
        "tags": [
          "Developer"
        ],
        "summary": "Create a current developer OAuth app",
        "description": "Creates a user-owned OAuth application, or a community-owned OAuth application when ownerCommunitySlug is supplied, for a bearer credential with user authority and developer:write scope. Confidential clients receive a one-time client secret value.",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "developer:write"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeveloperOAuthAppCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created OAuth application and optional one-time client secret value.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeveloperOAuthAppCreateResponse"
                }
              }
            }
          },
          "400": {
            "description": "The OAuth app creation request was malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "401": {
            "description": "Bearer authentication is required or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "403": {
            "description": "The bearer credential lacks developer:write scope or user authority, or the user does not own the requested community.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "404": {
            "description": "The requested owner community profile was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "429": {
            "description": "The request exceeded a rate limit.",
            "headers": {
              "Retry-After": {
                "description": "Delay in seconds before retrying.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/developer/oauth-apps/{clientId}": {
      "patch": {
        "operationId": "updateCurrentDeveloperOAuthApp",
        "tags": [
          "Developer"
        ],
        "summary": "Update a current developer OAuth app",
        "description": "Updates editable metadata, redirect URIs, allowed grants, and allowed scopes for a user-owned or community-owned OAuth application.",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "developer:write"
            ]
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "clientId",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "OAuth client id."
            },
            "required": true,
            "description": "OAuth client id."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeveloperOAuthAppUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated OAuth application metadata.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeveloperOAuthAppResponse"
                }
              }
            }
          },
          "400": {
            "description": "The OAuth app update request was malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "401": {
            "description": "Bearer authentication is required or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "403": {
            "description": "The bearer credential lacks developer:write scope or user authority.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "404": {
            "description": "The OAuth application was not found for the current user or their owned communities.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "429": {
            "description": "The request exceeded a rate limit.",
            "headers": {
              "Retry-After": {
                "description": "Delay in seconds before retrying.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "revokeCurrentDeveloperOAuthApp",
        "tags": [
          "Developer"
        ],
        "summary": "Revoke a current developer OAuth app",
        "description": "Revokes a user-owned or community-owned OAuth application and its active secrets for a bearer credential with user authority and developer:write scope.",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "developer:write"
            ]
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "clientId",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "OAuth client id."
            },
            "required": true,
            "description": "OAuth client id."
          }
        ],
        "responses": {
          "200": {
            "description": "Revoked or already-revoked OAuth application metadata.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeveloperOAuthAppResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request was malformed or used an unsupported bearer-token location.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "401": {
            "description": "Bearer authentication is required or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "403": {
            "description": "The bearer credential lacks developer:write scope or user authority.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "404": {
            "description": "The OAuth application was not found for the current user or their owned communities.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "429": {
            "description": "The request exceeded a rate limit.",
            "headers": {
              "Retry-After": {
                "description": "Delay in seconds before retrying.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/developer/oauth-apps/{clientId}/secrets": {
      "post": {
        "operationId": "createCurrentDeveloperOAuthAppSecret",
        "tags": [
          "Developer"
        ],
        "summary": "Create a current developer OAuth app secret",
        "description": "Creates an additional client secret for a user-owned or community-owned confidential OAuth application. The raw client secret value is returned once.",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "developer:write"
            ]
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "clientId",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "OAuth client id."
            },
            "required": true,
            "description": "OAuth client id."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeveloperOAuthAppSecretCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated OAuth application and one-time client secret value.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeveloperOAuthAppSecretCreateResponse"
                }
              }
            }
          },
          "400": {
            "description": "The OAuth app secret creation request was malformed or the app is public.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "401": {
            "description": "Bearer authentication is required or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "403": {
            "description": "The bearer credential lacks developer:write scope or user authority.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "404": {
            "description": "The OAuth application was not found for the current user or their owned communities.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "429": {
            "description": "The request exceeded a rate limit.",
            "headers": {
              "Retry-After": {
                "description": "Delay in seconds before retrying.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/search": {
      "get": {
        "operationId": "searchPublicCatalog",
        "tags": [
          "Search"
        ],
        "summary": "Search public profiles, events, and worlds",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "description": "Maximum result count.",
              "type": "integer",
              "minimum": 1,
              "maximum": 50
            },
            "description": "Maximum result count."
          },
          {
            "in": "query",
            "name": "q",
            "schema": {
              "description": "Search query text.",
              "type": "string"
            },
            "description": "Search query text."
          },
          {
            "in": "query",
            "name": "type",
            "schema": {
              "description": "Optional search result type filter.",
              "type": "string",
              "enum": [
                "all",
                "person",
                "community",
                "profile",
                "world",
                "event"
              ]
            },
            "description": "Optional search result type filter."
          }
        ],
        "responses": {
          "200": {
            "description": "Public search results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request was malformed or used an unsupported bearer-token location.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "404": {
            "description": "The requested public resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "429": {
            "description": "The request exceeded a rate limit.",
            "headers": {
              "Retry-After": {
                "description": "Delay in seconds before retrying.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/profiles/{slug}": {
      "get": {
        "operationId": "getPublicProfileBySlug",
        "tags": [
          "Profiles"
        ],
        "summary": "Get a public profile",
        "parameters": [
          {
            "in": "path",
            "name": "slug",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 160,
              "description": "Public slug."
            },
            "required": true,
            "description": "Public slug."
          }
        ],
        "responses": {
          "200": {
            "description": "The public profile.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicProfile"
                }
              }
            }
          },
          "400": {
            "description": "The request was malformed or used an unsupported bearer-token location.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "404": {
            "description": "The requested public resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "429": {
            "description": "The request exceeded a rate limit.",
            "headers": {
              "Retry-After": {
                "description": "Delay in seconds before retrying.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateCurrentUserProfile",
        "tags": [
          "Profiles"
        ],
        "summary": "Update a current user's profile",
        "description": "Updates owner-editable metadata for a claimed profile owned by a bearer credential with user authority and profile:write scope.",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "profile:write"
            ]
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "slug",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 160,
              "description": "Public slug."
            },
            "required": true,
            "description": "Public slug."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiProfileUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated profile identifiers and public path.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProfileWriteResponse"
                }
              }
            }
          },
          "400": {
            "description": "The profile update request was malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "401": {
            "description": "Bearer authentication is required or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "403": {
            "description": "The bearer credential lacks profile:write scope, user authority, ownership, or claimed-owner field permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "404": {
            "description": "The profile was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "429": {
            "description": "The request exceeded a rate limit.",
            "headers": {
              "Retry-After": {
                "description": "Delay in seconds before retrying.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/profiles/{slug}/assets": {
      "get": {
        "operationId": "getPublicProfileAssets",
        "tags": [
          "Profiles"
        ],
        "summary": "Get public profile assets",
        "parameters": [
          {
            "in": "path",
            "name": "slug",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 160,
              "description": "Public slug."
            },
            "required": true,
            "description": "Public slug."
          }
        ],
        "responses": {
          "200": {
            "description": "Public profile assets.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicProfileAssetsResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request was malformed or used an unsupported bearer-token location.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "404": {
            "description": "The requested public resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "429": {
            "description": "The request exceeded a rate limit.",
            "headers": {
              "Retry-After": {
                "description": "Delay in seconds before retrying.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/profiles/{slug}/assets/upload-intent": {
      "post": {
        "operationId": "createCurrentUserProfileAssetUploadIntent",
        "tags": [
          "Profiles",
          "Assets"
        ],
        "summary": "Create a profile asset upload intent",
        "description": "Creates a one-time upload intent for a claimed profile owned by a bearer credential with user authority and assets:write scope. Complete the upload by posting the image file or source import to the returned uploadUrl with the returned upload-token header.",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "assets:write"
            ]
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "slug",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 160,
              "description": "Public slug."
            },
            "required": true,
            "description": "Public slug."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiProfileAssetUploadIntentCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "One-time upload target for profile media.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProfileAssetUploadIntentCreateResponse"
                }
              }
            }
          },
          "400": {
            "description": "The upload-intent request was malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "401": {
            "description": "Bearer authentication is required or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "403": {
            "description": "The bearer credential lacks assets:write scope, user authority, ownership, or a claimed profile.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "404": {
            "description": "The profile was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "429": {
            "description": "The request exceeded a rate limit.",
            "headers": {
              "Retry-After": {
                "description": "Delay in seconds before retrying.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/profiles/{slug}/logos": {
      "get": {
        "operationId": "getPublicProfileLogos",
        "tags": [
          "Profiles"
        ],
        "summary": "Get public profile logos",
        "parameters": [
          {
            "in": "path",
            "name": "slug",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 160,
              "description": "Public slug."
            },
            "required": true,
            "description": "Public slug."
          }
        ],
        "responses": {
          "200": {
            "description": "Public profile logos.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicProfileLogosResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request was malformed or used an unsupported bearer-token location.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "404": {
            "description": "The requested public resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "429": {
            "description": "The request exceeded a rate limit.",
            "headers": {
              "Retry-After": {
                "description": "Delay in seconds before retrying.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/profile-assets/upload-intents/{intentId}": {
      "post": {
        "operationId": "completeProfileAssetUploadIntent",
        "tags": [
          "Assets"
        ],
        "summary": "Complete a profile asset upload intent",
        "description": "Uploads the image file for a direct-upload intent, or triggers the server-side source import for a sourceUrl intent. Send the one-time x-vrdex-upload-token value returned by the upload-intent creation endpoint. Do not send bearer credentials on this transport.",
        "parameters": [
          {
            "in": "path",
            "name": "intentId",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Profile asset upload intent id."
            },
            "required": true,
            "description": "Profile asset upload intent id."
          },
          {
            "in": "header",
            "name": "x-vrdex-upload-token",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "One-time upload token returned by the profile asset upload-intent creation endpoint."
            },
            "required": true,
            "description": "One-time upload token returned by the profile asset upload-intent creation endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Completed profile media upload result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProfileAssetUploadIntentCompleteResponse"
                }
              }
            }
          },
          "400": {
            "description": "The upload body or source import was invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProfileAssetUploadErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "The one-time upload token was missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProfileAssetUploadErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "The upload intent was not found or has expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProfileAssetUploadErrorResponse"
                }
              }
            }
          },
          "501": {
            "description": "Profile asset storage is not configured for this deployment.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProfileAssetUploadErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/people/{slug}": {
      "get": {
        "operationId": "getPublicPersonProfileBySlug",
        "tags": [
          "Profiles"
        ],
        "summary": "Get a public person profile",
        "parameters": [
          {
            "in": "path",
            "name": "slug",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 160,
              "description": "Public slug."
            },
            "required": true,
            "description": "Public slug."
          }
        ],
        "responses": {
          "200": {
            "description": "The public person profile.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicProfile"
                }
              }
            }
          },
          "400": {
            "description": "The request was malformed or used an unsupported bearer-token location.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "404": {
            "description": "The requested public resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "429": {
            "description": "The request exceeded a rate limit.",
            "headers": {
              "Retry-After": {
                "description": "Delay in seconds before retrying.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/people/{slug}/events": {
      "get": {
        "operationId": "listPublicPersonEvents",
        "tags": [
          "Profiles",
          "Events"
        ],
        "summary": "List public upcoming events for a person profile",
        "parameters": [
          {
            "in": "path",
            "name": "slug",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 160,
              "description": "Public slug."
            },
            "required": true,
            "description": "Public slug."
          }
        ],
        "responses": {
          "200": {
            "description": "Public upcoming events for the person profile.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicEventsResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request was malformed or used an unsupported bearer-token location.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "404": {
            "description": "The requested public resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "429": {
            "description": "The request exceeded a rate limit.",
            "headers": {
              "Retry-After": {
                "description": "Delay in seconds before retrying.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/communities/{slug}": {
      "get": {
        "operationId": "getPublicCommunityProfileBySlug",
        "tags": [
          "Profiles"
        ],
        "summary": "Get a public community profile",
        "parameters": [
          {
            "in": "path",
            "name": "slug",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 160,
              "description": "Public slug."
            },
            "required": true,
            "description": "Public slug."
          }
        ],
        "responses": {
          "200": {
            "description": "The public community profile.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicProfile"
                }
              }
            }
          },
          "400": {
            "description": "The request was malformed or used an unsupported bearer-token location.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "404": {
            "description": "The requested public resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "429": {
            "description": "The request exceeded a rate limit.",
            "headers": {
              "Retry-After": {
                "description": "Delay in seconds before retrying.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/communities/{slug}/events": {
      "get": {
        "operationId": "listPublicCommunityEvents",
        "tags": [
          "Profiles",
          "Events"
        ],
        "summary": "List public upcoming events hosted by a community profile",
        "parameters": [
          {
            "in": "path",
            "name": "slug",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 160,
              "description": "Public slug."
            },
            "required": true,
            "description": "Public slug."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "description": "Maximum result count.",
              "type": "integer",
              "minimum": 1,
              "maximum": 50
            },
            "description": "Maximum result count."
          }
        ],
        "responses": {
          "200": {
            "description": "Public upcoming events for the community profile.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicEventsResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request was malformed or used an unsupported bearer-token location.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "404": {
            "description": "The requested public resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "429": {
            "description": "The request exceeded a rate limit.",
            "headers": {
              "Retry-After": {
                "description": "Delay in seconds before retrying.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/events/{slug}": {
      "get": {
        "operationId": "getPublicEventBySlug",
        "tags": [
          "Events"
        ],
        "summary": "Get a public event",
        "parameters": [
          {
            "in": "path",
            "name": "slug",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 160,
              "description": "Public slug."
            },
            "required": true,
            "description": "Public slug."
          }
        ],
        "responses": {
          "200": {
            "description": "The public event.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicEvent"
                }
              }
            }
          },
          "400": {
            "description": "The request was malformed or used an unsupported bearer-token location.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "404": {
            "description": "The requested public resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "429": {
            "description": "The request exceeded a rate limit.",
            "headers": {
              "Retry-After": {
                "description": "Delay in seconds before retrying.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateCurrentUserCommunityEvent",
        "tags": [
          "Events"
        ],
        "summary": "Update a current user's community event",
        "description": "Updates a public event attached to a community profile owned by a bearer credential with user authority and events:write scope.",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "events:write"
            ]
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "slug",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 160,
              "description": "Public slug."
            },
            "required": true,
            "description": "Public slug."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiEventUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated event identifiers and paths.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEventWriteResponse"
                }
              }
            }
          },
          "400": {
            "description": "The event update request was malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "401": {
            "description": "Bearer authentication is required or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "403": {
            "description": "The bearer credential lacks events:write scope, user authority, or ownership of the target event/community.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "404": {
            "description": "The event was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "429": {
            "description": "The request exceeded a rate limit.",
            "headers": {
              "Retry-After": {
                "description": "Delay in seconds before retrying.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/events": {
      "post": {
        "operationId": "createCurrentUserCommunityEvent",
        "tags": [
          "Events"
        ],
        "summary": "Create a current user's community event",
        "description": "Creates a public event attached to a community profile owned by a bearer credential with user authority and events:write scope.",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "events:write"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiEventCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created event identifiers and paths.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEventWriteResponse"
                }
              }
            }
          },
          "400": {
            "description": "The event creation request was malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "401": {
            "description": "Bearer authentication is required or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "403": {
            "description": "The bearer credential lacks events:write scope, user authority, or ownership of the target community.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "429": {
            "description": "The request exceeded a rate limit.",
            "headers": {
              "Retry-After": {
                "description": "Delay in seconds before retrying.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/events/upcoming": {
      "get": {
        "operationId": "listPublicUpcomingEvents",
        "tags": [
          "Events"
        ],
        "summary": "List upcoming public events",
        "responses": {
          "200": {
            "description": "Upcoming public events.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicEventsResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request was malformed or used an unsupported bearer-token location.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "404": {
            "description": "The requested public resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "429": {
            "description": "The request exceeded a rate limit.",
            "headers": {
              "Retry-After": {
                "description": "Delay in seconds before retrying.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/worlds/{slug}": {
      "get": {
        "operationId": "getPublicWorldBySlug",
        "tags": [
          "Worlds"
        ],
        "summary": "Get a public world",
        "parameters": [
          {
            "in": "path",
            "name": "slug",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 160,
              "description": "Public slug."
            },
            "required": true,
            "description": "Public slug."
          }
        ],
        "responses": {
          "200": {
            "description": "The public world.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicWorld"
                }
              }
            }
          },
          "400": {
            "description": "The request was malformed or used an unsupported bearer-token location.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "404": {
            "description": "The requested public resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "429": {
            "description": "The request exceeded a rate limit.",
            "headers": {
              "Retry-After": {
                "description": "Delay in seconds before retrying.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/worlds/active": {
      "get": {
        "operationId": "listPublicActiveWorlds",
        "tags": [
          "Worlds"
        ],
        "summary": "List public worlds hosting upcoming or live events",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "description": "Maximum result count.",
              "type": "integer",
              "minimum": 1,
              "maximum": 50
            },
            "description": "Maximum result count."
          }
        ],
        "responses": {
          "200": {
            "description": "Active public worlds.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicActiveWorldsResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request was malformed or used an unsupported bearer-token location.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "404": {
            "description": "The requested public resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "429": {
            "description": "The request exceeded a rate limit.",
            "headers": {
              "Retry-After": {
                "description": "Delay in seconds before retrying.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/claims/{slug}/status": {
      "get": {
        "operationId": "getPublicClaimStatus",
        "tags": [
          "Claims"
        ],
        "summary": "Get public claim and trust status for a profile",
        "parameters": [
          {
            "in": "path",
            "name": "slug",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 160,
              "description": "Public slug."
            },
            "required": true,
            "description": "Public slug."
          }
        ],
        "responses": {
          "200": {
            "description": "Public claim and trust status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicClaimStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request was malformed or used an unsupported bearer-token location.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "404": {
            "description": "The requested public resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "429": {
            "description": "The request exceeded a rate limit.",
            "headers": {
              "Retry-After": {
                "description": "Delay in seconds before retrying.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/usage/rate-limit": {
      "get": {
        "operationId": "getApiRateLimitUsage",
        "tags": [
          "Usage"
        ],
        "summary": "Get API and MCP rate-limit policy information",
        "description": "Returns the default route-class policy table and the current request's effective API rate-limit window.",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "public:read"
            ]
          },
          {}
        ],
        "responses": {
          "200": {
            "description": "Rate-limit policy and current caller window.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiRateLimitUsageResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request was malformed or used an unsupported bearer-token location.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "404": {
            "description": "The requested public resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "429": {
            "description": "The request exceeded a rate limit.",
            "headers": {
              "Retry-After": {
                "description": "Delay in seconds before retrying.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "DeveloperTokenCreateRequest": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "minLength": 1,
            "maxLength": 80
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "public:read",
                "profile:read",
                "profile:write",
                "community:read",
                "community:write",
                "events:read",
                "events:write",
                "assets:read",
                "assets:write",
                "developer:read",
                "developer:write",
                "mcp:read",
                "mcp:write"
              ],
              "description": "Public API or MCP credential scope."
            }
          },
          "expiresAt": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          }
        },
        "required": [
          "label"
        ],
        "description": "Create a user-owned personal API token. The raw token value is returned once."
      },
      "DeveloperOAuthAppCreateRequest": {
        "type": "object",
        "properties": {
          "clientType": {
            "type": "string",
            "enum": [
              "public",
              "confidential"
            ],
            "description": "OAuth application client type."
          },
          "displayName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 80
          },
          "description": {
            "type": "string",
            "maxLength": 500
          },
          "logoUrl": {
            "type": "string",
            "minLength": 1
          },
          "docsUrl": {
            "type": "string",
            "minLength": 1
          },
          "privacyUrl": {
            "type": "string",
            "minLength": 1
          },
          "termsUrl": {
            "type": "string",
            "minLength": 1
          },
          "redirectUris": {
            "minItems": 1,
            "maxItems": 10,
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1
            }
          },
          "allowedGrants": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "authorization_code",
                "refresh_token",
                "client_credentials"
              ],
              "description": "OAuth grant type allowed for an application."
            }
          },
          "allowedScopes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "public:read",
                "profile:read",
                "profile:write",
                "community:read",
                "community:write",
                "events:read",
                "events:write",
                "assets:read",
                "assets:write",
                "developer:read",
                "developer:write",
                "mcp:read",
                "mcp:write"
              ],
              "description": "Public API or MCP credential scope."
            }
          },
          "ownerCommunitySlug": {
            "type": "string",
            "minLength": 1,
            "maxLength": 160
          }
        },
        "required": [
          "displayName",
          "redirectUris"
        ],
        "description": "Create a user-owned or community-owned OAuth application. Confidential clients receive a one-time client secret value."
      },
      "DeveloperOAuthAppUpdateRequest": {
        "type": "object",
        "properties": {
          "displayName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 80
          },
          "description": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 500
              },
              {
                "type": "null"
              }
            ]
          },
          "logoUrl": {
            "anyOf": [
              {
                "type": "string",
                "minLength": 1
              },
              {
                "type": "null"
              }
            ]
          },
          "docsUrl": {
            "anyOf": [
              {
                "type": "string",
                "minLength": 1
              },
              {
                "type": "null"
              }
            ]
          },
          "privacyUrl": {
            "anyOf": [
              {
                "type": "string",
                "minLength": 1
              },
              {
                "type": "null"
              }
            ]
          },
          "termsUrl": {
            "anyOf": [
              {
                "type": "string",
                "minLength": 1
              },
              {
                "type": "null"
              }
            ]
          },
          "redirectUris": {
            "minItems": 1,
            "maxItems": 10,
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1
            }
          },
          "allowedGrants": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "authorization_code",
                "refresh_token",
                "client_credentials"
              ],
              "description": "OAuth grant type allowed for an application."
            }
          },
          "allowedScopes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "public:read",
                "profile:read",
                "profile:write",
                "community:read",
                "community:write",
                "events:read",
                "events:write",
                "assets:read",
                "assets:write",
                "developer:read",
                "developer:write",
                "mcp:read",
                "mcp:write"
              ],
              "description": "Public API or MCP credential scope."
            }
          }
        },
        "description": "Update editable metadata, redirects, scopes, and grants for a user-owned or community-owned OAuth application."
      },
      "DeveloperOAuthAppSecretCreateRequest": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "minLength": 1,
            "maxLength": 80
          }
        },
        "description": "Create an additional secret for a user-owned or community-owned confidential OAuth application."
      },
      "ApiProfileUpdateRequest": {
        "type": "object",
        "properties": {
          "displayName": {
            "type": "string",
            "minLength": 2,
            "maxLength": 80
          },
          "aliases": {
            "maxItems": 8,
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 60
            }
          },
          "tags": {
            "maxItems": 12,
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 32
            }
          },
          "headline": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 160
              },
              {
                "type": "null"
              }
            ]
          },
          "bio": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 600
              },
              {
                "type": "null"
              }
            ]
          },
          "region": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 80
              },
              {
                "type": "null"
              }
            ]
          },
          "timezone": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 80
              },
              {
                "type": "null"
              }
            ]
          },
          "person": {
            "type": "object",
            "properties": {
              "pronouns": {
                "anyOf": [
                  {
                    "type": "string",
                    "maxLength": 80
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "roleTags": {
                "maxItems": 12,
                "type": "array",
                "items": {
                  "type": "string",
                  "maxLength": 32
                }
              }
            }
          },
          "community": {
            "type": "object",
            "properties": {
              "subtype": {
                "anyOf": [
                  {
                    "type": "string",
                    "maxLength": 40
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "categoryTags": {
                "maxItems": 12,
                "type": "array",
                "items": {
                  "type": "string",
                  "maxLength": 32
                }
              }
            }
          }
        },
        "description": "Update owner-editable metadata for a claimed profile owned by the current authenticated API user."
      },
      "ApiProfileAssetUploadIntentCreateRequest": {
        "type": "object",
        "properties": {
          "originalFileName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 180
          },
          "sourceUrl": {
            "type": "string",
            "format": "uri"
          },
          "mimeType": {
            "type": "string",
            "enum": [
              "image/png",
              "image/svg+xml",
              "image/jpeg",
              "image/webp"
            ],
            "description": "Supported profile media upload MIME type."
          },
          "byteSize": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 12582912
          },
          "label": {
            "type": "string",
            "maxLength": 80
          },
          "caption": {
            "type": "string",
            "maxLength": 240
          },
          "placements": {
            "maxItems": 8,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "profile_image",
                "banner",
                "primary_logo",
                "additional_logo"
              ],
              "description": "Profile media-kit placement to apply after upload completion."
            }
          },
          "position": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          }
        },
        "required": [
          "mimeType"
        ],
        "description": "Create a one-time profile media upload intent for a claimed profile owned by the current authenticated API user."
      },
      "ApiEventUpdateRequest": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "minLength": 2,
            "maxLength": 120
          },
          "communitySlug": {
            "type": "string",
            "minLength": 1,
            "maxLength": 160
          },
          "startAt": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "doorsOpenAt": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "endAt": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "timezone": {
            "type": "string",
            "maxLength": 64
          },
          "worldSlug": {
            "type": "string",
            "minLength": 1,
            "maxLength": 160
          },
          "preferredSlug": {
            "type": "string",
            "minLength": 1,
            "maxLength": 160
          },
          "summary": {
            "type": "string",
            "maxLength": 240
          },
          "notes": {
            "type": "string",
            "maxLength": 1200
          },
          "sourceLabel": {
            "type": "string",
            "maxLength": 120
          },
          "sourceUrl": {
            "type": "string",
            "format": "uri"
          },
          "posterImageUrl": {
            "type": "string",
            "format": "uri"
          },
          "bannerImageUrl": {
            "type": "string",
            "format": "uri"
          },
          "thumbnailImageUrl": {
            "type": "string",
            "format": "uri"
          },
          "watchSurfaceEnabled": {
            "type": "boolean"
          },
          "mediaLinks": {
            "maxItems": 8,
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "event_page",
                    "watch",
                    "stream",
                    "vrcdn",
                    "discord",
                    "ticket",
                    "other"
                  ]
                },
                "label": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 80
                },
                "url": {
                  "type": "string",
                  "format": "uri"
                },
                "presentation": {
                  "type": "string",
                  "enum": [
                    "open",
                    "copy"
                  ]
                }
              },
              "required": [
                "type",
                "label",
                "url"
              ],
              "additionalProperties": {}
            }
          },
          "participantLinks": {
            "maxItems": 80,
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "personSlug": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 160
                },
                "roleLabel": {
                  "type": "string",
                  "maxLength": 48
                },
                "sourceLabel": {
                  "type": "string",
                  "maxLength": 120
                },
                "sourceUrl": {
                  "type": "string",
                  "format": "uri"
                },
                "notes": {
                  "type": "string",
                  "maxLength": 1200
                }
              },
              "required": [
                "personSlug"
              ],
              "additionalProperties": {}
            }
          },
          "slotLinks": {
            "maxItems": 80,
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "personSlug": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 160
                },
                "displayLabel": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 120
                },
                "roleLabel": {
                  "type": "string",
                  "maxLength": 48
                },
                "startAt": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 9007199254740991
                },
                "endAt": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 9007199254740991
                },
                "sourceLabel": {
                  "type": "string",
                  "maxLength": 120
                },
                "sourceUrl": {
                  "type": "string",
                  "format": "uri"
                },
                "notes": {
                  "type": "string",
                  "maxLength": 1200
[...]
